
.you {
    position: relative;
    max-inline-size: 13em;
    left:32vw;
    background: #46a048;
    border-radius: .7em;
    margin: 0.5em 1em;
    padding: 0.5em 0.6em;
    width: fit-content;
}



.other {
    position: relative;
    max-inline-size: 13em;

    background: #00aabb;
    border-radius: .7em;
    margin: 0.5em 1em;
    padding: 0.5em 0.6em;
    width: fit-content;
}

