
.you {
    position: relative;
    max-inline-size: 13em;
    background: #c2d5ff;
    border-radius: .7em;
    margin: 1em 1em;
    padding: 0.3em 0.6em 0.5em 0.5em;
    width: fit-content;
    margin-right: 0px;
    margin-left: auto;

}



.other {
    position: relative;
    max-inline-size: 13em;
    color: #ffffff;
    background: #001e57;
    border-radius: .7em;
    margin: 1em 1em;
    padding: 0.3em 0.6em 0.5em 0.5em;
    width: fit-content;



}

.sendButton{
    color: #ffffff;
}


.name {
position:relative;
    left:1em;
    font-size: small;

}
.timeStamp {
    display: block;
    color: white;
    opacity: 70%;
    padding-bottom: 0.1em;
    font-size: x-small;
}
