.bullet-design{
    --bullet-background: #001e57;
    --bullet-background-active:#194afb;
    height: 100%;
    width: 100%
}

.slide-design{
    justify-content: center;
}


.link-color{
    color: #194afb;
    text-decoration: none;
}

.design-image{
    padding-top:10%;
}
.text-danger{
    color:#c7434b;
}

.text-success{
    color:#319534;

}
.text-warning{
    color:#ffc409;
}

.text-secondary{
    color:#194afb;
}

.grid{
    height: 100%;
    display: grid;
    grid-template-rows: 10% 65% auto;
    place-items: center;

}

