.bullet-design{
    --bullet-background: #001e57;
    --bullet-background-active:#194afb;
    height: 100%;
    width: 100%
}

.slide-design{
    justify-content: center;
}


.link-color{
    color: #194afb;
    text-decoration: none;
}

.grid{
    height: 100%;
    display: grid;
    grid-template-rows: 20% 50% auto;
    place-items: center;
}

