.Register{
    color: #001e57;
    padding-left: 0 auto;

}

.Centrera{
    margin: 0 auto;
    padding-left: 0 auto;
}

.elsa {
    --ion-placeholder-color: #ffffff;
    --ion-item-color: #ffffff;
}
