.Register{
    color: #001e57;
    padding-left: 0 auto;

}

.header-toolbar-login{
    --background:#bbd0ff;
  }
  
  .loggan-login{
    margin: auto;
   padding: 0.5em;
   width: 9em;
  }


.link-color{
    color: #194afb;
    text-decoration: underline;
}

.login-button{
text-transform: capitalize;

margin-top: 2em ;

}