.Register{
    color: #001e57;
    padding-left: 0 auto;

}

.header-toolbar-login{
    --background:#bbd0ff;
  }
  
  .loggan-login{
    margin: -0.4em auto;
   padding: 1em;
  }


.link-color{
    color: #194afb;
    text-decoration: underline;
}