.radioDesign{
    --border-radius: #001e57;
    --color: #001e57;
    --color-checked: #001e57;;
    --inner-border-radius: #001e57;
}

.description-input{
    --highlight-height: 2px;
}

.description-input-text{
    margin: 1em 0em;
    width: 100%;
    background: transparent;
    outline:#bbd0ff;
    box-sizing: border-box;
    padding: 0.8em;
    border: 0.2em solid #bbd0ff;

}
.description-input-text:focus{
    border: 0.2em solid #194afb;

}

.information-div{
    width: 100%;
    margin-bottom: 1em;
}

.what-do-you-want-text{
    margin-top: 1em;
}

.submit-rqst{
    margin-top: 2em;
}

