.radioDesign{
    --border-radius: #001e57;
    --color: #001e57;
    --color-checked: #001e57;;
    --inner-border-radius: #001e57;
}

.textDesign{
    text-size-adjust: 30px;
}

.description-input{
    --highlight-height: 2px;
}