ion-content ion-toolbar {
  --background: translucent;
}
.modalButton{
  margin: 0 auto;
  color: #001e57;
  background: #d5e2ff;

}

.modalButton2{
  margin: 0 auto;
  color: #001e57;
  height: min-content;
}

.ion-modal-opener{
  color: #001e57;
  margin: 0 auto;
  background: #d5e2ff;
  width:100%;
  height: min-content;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  z-index: 2;
  position: absolute;
  bottom: 0;
  box-shadow: 2px 2px 30px #888888;
}

.modal-text{
  text-align: center;
  margin: 0.5em auto ;
  font-weight: bold;
}

.background-color{
  background:#d5e2ff;
  background-color:#d5e2ff;
  color:#001e57;
}

.cssclass{
  --background:#d5e2ff;
  --color:#d5e2ff;
  }


