.text-design{
  text-align: center;
}


.header-toolbar{
  background-color:#bbd0ff;
}

.loggan-profile{
 margin: auto;
 padding: 0.5em;
 width: 9em;
}

.score-badge{
  font-size: 1.5em;
}

.profile-grid{
  height: 100%;
  place-items: center;
  display: grid;
  /*grid-template: 10% 16% 20% 16% 20% 18% */
  grid-template-rows: 15% 20% 20% 35% auto
}

.segment-profile{
  height:3em;
}


.info-text{
  text-align:center;
}


