
.text-design{
  text-align: center;
}

.rate-text{
  padding-top: 0.1%;
}


.header-toolbar{
  background-color:#bbd0ff;
}

.loggan{
  width: 225px; 
  height: 74px;
  margin: -0.4em auto;
 /* padding-bottom: 54px;*/
 padding: 1em;
}
