.link-color{
    color: #194afb;
    text-decoration: underline;
}

.header-toolbar-reg{
    --background:#bbd0ff;
  }
  
  .loggan-reg{
    margin: auto;
   padding: 0.5em;
   width: 9em;
  }

  .register-button{
    text-transform: capitalize;
    margin-top: 2em ;
    }

    .accept-terms{
      margin-top: 1em ;
    }

  
