.report-button{
    text-transform: capitalize;
    background: #c7434b;
    color:#ffffff;
}

.radio-design{
    padding-top: 2%;
    justify-content: center;
    --border-radius: #001e57;
    --color: #001e57;
    --color-checked: #001e57;;
    --inner-border-radius: #001e57;
}


.report-input-field{
    margin: 1em 0em;
    width: 100%;
    background: transparent;
    outline:#bbd0ff;
    padding: 0.8em;
    border: 0.2em solid #bbd0ff;
}

   

.report-input-field:focus{
    border: 0.2em solid #194afb;

}

.hallo{
    margin-top:0em;
    margin-bottom: 0em;
}