.address-input-div{
    width: 100%;
}

.address-input-field{
    margin: 1em 0em;
    width: 100%;
    background: transparent;
    outline:#bbd0ff;
    box-sizing: border-box;
    padding: 0.8em;
    border: 0.2em solid #bbd0ff;


}

.address-input-field:focus{
    border: 0.2em solid #194afb;

}