.request-btn {
margin:5% 2%;
display: flex;
flex-direction: column;
align-items:center;
}

.rqst-fab{
    --box-shadow: 3px 3px 1px #bbd0ff;
    text-shadow: 3px 3px 1px #bbd0ff;
    font-weight: bold;

}