  .loggan{
    width: 225px; 
    height: 74px;
    margin: -0.4em auto;
   /* padding-bottom: 54px;*/
   padding: 1em;
  
  }
  
  .header_logga{
     background-color: #bbd0ff;
     height: 56px;
  }