.badge {
    --padding-start:1px;
}
.hejsan{
    --padding-end:0 auto;
}

.noAccept {
    color: #c7434b;
}

.youWillHelp {
    color: #e0ac08;
}

.helpingYou {
    color: #e0ac08;
}

.iHelped {
    color: #2b832e;
}

.beenHelped {
    color: #2b832e;
}

.ion-chat-button {
    position: absolute;
    right:1%;
    top:12%;
}

.card-content {
    padding-left: 0em;
    padding-right: 0em;
}

.chatt-badge{
    position: absolute;
    right: 3%;
    z-index: 1;
    top:14%
}

.profile-name-request{
    display:flex;
    align-items:center;
    vertical-align: middle;
    margin: 0.5em;
    }

.info-text{
    color: #001e57;
    width: 90%;
    padding-top: 1em;
    margin: auto auto;
    text-align: center;
}

.rating-design{
margin-bottom: -0.1em;
text-align: center;

}

.rating-box{
    color: #001e57;
    background: #FCFCFC;
}

.css-class{
    --height: 22em;
    }
    
.title-design{
    margin: 3em auto 0em auto;
    text-align: center;
    color: #001e57;
}

.buttons-design{
    margin-top:1em;
    color: #194afb;
    text-align: center;
    justify-content: center;
}

.cancel-button{
    width:100%;
    color: #194afb;
}

.done-button{
    width:100%;
    color: #194afb;
}


.alert-buttons{
    color: #194afb !important; 
    text-align: center;
}



.rqst-des{
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.center-btn{
    position: relative;
    height: fit-content;
    width: fit-content;
    left: 70%; 
    bottom: 5em;
    font-size: 2em;
}

.action-sheet-done{
    --button-color:green;
}

.action-sheet-cancel{
    --button-color: #194afb;
}

.ion-popover{
    padding: 2em 1em;
    display:grid;
    grid-template-rows: auto;
    justify-items: center;
    --width:fit-content
}

.report-user-btn{
    margin-top: 1em;
    justify-self: stretch;
}

.popover-close-btn{
    position: absolute;
    top:0;
    right:0;
}
 
.your-request{
    color:#001e57;
}