.badge {
    --padding-start:1px;
}
.hejsan{
    --padding-end:0 auto;
}

.noAccept {
    color: #c7434b;
}

.youWillHelp {
    color: #e0ac08;
}

.helpingYou {
    color: #e0ac08;
}

.iHelped {
    color: #2b832e;
}

.beenHelped {
    color: #2b832e;
}

.ion-chat-button {
    position: absolute;
    right:2%;
    top:10%;
}

.ion-done-button {
    position: absolute;
    right:0;
    bottom:10%;
}

.chatt-badge{
    position: absolute;
    right: 4%;
    z-index: 1;
    top:14%
}

.profile-name-request{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:left;
    vertical-align: middle;
    }
    


.info-text{
    color: #001e57;
    width: 60%;
    padding-top: 1em;
    margin: auto auto;
    text-align: center;
}

.rating-design{
margin-bottom: -0.1em;
text-align: center;

}

.rating-box{
    color: #001e57;
    background: #FCFCFC;


}

.css-class{
    --height: 22em;
    --border-color: #001e57;
    }
    
.title-design{
    margin: 3em auto 0em auto;
    text-align: center;
    color: #001e57;


}

.buttons-design{
    margin-top:1em;
    color: #194afb;
    text-align: center;
    justify-content: center;

}

.cancel-button{
    width:100%;
}

.done-button{
    width:100%;
}
