.badge {
    --padding-start:1px;
}
.hejsan{
    --padding-end:0 auto;
}

.noAccept {
    color: #c7434b;
}

.youWillHelp {
    color: #e0ac08;
}

.helpingYou {
    color: #e0ac08;
}

.iHelped {
    color: #2b832e;
}

.beenHelped {
    color: #2b832e;
}

.ion-chat-button {
    position: absolute;
    right:0;
    top:0;
}

.ion-done-button {
    position: absolute;
    right:0;
    top:0;
}